<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="concurrentModelChecking_SnapShot_1649330560638"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.137.1"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="109"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="areAllowedToStart, startMaster, N_WORKERS_TO_WAIT, pc, body, body_, queue, nWorkersHits"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties"/>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="MaxQueueSize;;5;0;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="concurrentTLAsimulation"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
